In [1]:
import pandas as pd
import numpy as np

In [2]:
genome_scores = pd.read_csv("data/ml-25m/genome-scores.csv",engine="python")
genome_tags = pd.read_csv("data/ml-25m/genome-tags.csv",engine="python")
links = pd.read_csv("data/ml-25m/links.csv",engine="python")
movies = pd.read_csv("data/ml-25m/movies.csv",engine="python")
ratings = pd.read_csv("data/ml-25m/ratings.csv",engine="python")
tags = pd.read_csv("data/ml-25m/tags.csv",engine="python")

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  62423 non-null  int64
 1   title    62423 non-null  object
 2   genres   62423 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

In [5]:
len(movies['movieId'].unique())

62423

In [6]:
ratings.shape

(25000095, 4)

In [7]:
ratings.describe()

             userId       movieId        rating     timestamp
count  2.500010e+07  2.500010e+07  2.500010e+07  2.500010e+07
mean   8.118928e+04  2.138798e+04  3.533854e+00  1.215601e+09
std    4.679172e+04  3.919886e+04  1.060744e+00  2.268758e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
25%    4.051000e+04  1.196000e+03  3.000000e+00  1.011747e+09
50%    8.091400e+04  2.947000e+03  3.500000e+00  1.198868e+09
75%    1.215570e+05  8.623000e+03  4.000000e+00  1.447205e+09
max    1.625410e+05  2.091710e+05  5.000000e+00  1.574328e+09

In [8]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [9]:
len(ratings['userId'].unique())

162541

In [10]:
tags.shape

(1093360, 4)

In [11]:
tags.head()

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

data cleaning

In [12]:
movies.isnull().any()

movieId    False
title      False
genres     False
dtype: bool

In [13]:
ratings.isnull().any()

userId       False
movieId      False
rating       False
timestamp    False
dtype: bool

In [14]:
tags.isnull().any()

userId       False
movieId      False
tag           True
timestamp    False
dtype: bool

In [15]:
tags = tags.dropna()

In [16]:
tags.isnull().any()

userId       False
movieId      False
tag          False
timestamp    False
dtype: bool

In [17]:
tags.shape

(1093344, 4)

In [18]:
len(tags['tag'].unique())

73050

In [19]:
tags_unique = tags['tag'].unique().tolist()
tags_unique

['classic',
 'sci-fi',
 'dark comedy',
 'great dialogue',
 "so bad it's good",
 'unreliable narrators',
 'tense',
 'artificial intelligence',
 'philosophical',
 'cliche',
 'musical',
 'horror',
 'unpredictable',
 'Oscar (Best Supporting Actress)',
 'adventure',
 'anime',
 'ecology',
 'fantasy',
 'Hayao Miyazaki',
 'Miyazaki',
 'post-apocalyptic',
 'bah',
 'Clint Eastwood',
 'music',
 'art',
 'contemporary art',
 'documentary',
 'aliens',
 'amazing photography',
 'Director: James Cameron',
 'first contact',
 'James Cameron',
 'Michael Biehn',
 'android(s)/cyborg(s)',
 'apocalypse',
 'Arnold Schwarzenegger',
 'franchise',
 'terminator',
 'time travel',
 'science fiction',
 'inferior sequel',
 'setting:London (UK) (future)',
 'unoriginal',
 'bad science',
 'good science',
 'Hans Zimmer',
 'philosophical issues',
 'space',
 'space travel',
 'time-travel',
 'visually appealing',
 'bittersweet',
 'boring',
 'conversation',
 'dialogue driven',
 'loneliness',
 'love story',
 'philosophy',
 'quirky',
 'reflective',
 'romantic',
 'thought-provoking',
 'Vienna',
 'wistful',
 'American Civil War',
 'based on book',
 'culture clash',
 'drama',
 'indians',
 'war',
 'western',
 'Buddhism',
 'China',
 'great cinematography',
 'JOURNEY OF SELF-DISCOVERY',
 'mountains',
 'traveling',
 'atmospheric',
 'based on a book',
 'Canada',
 'death',
 'Incest',
 'meditative',
 'melancholic',
 'Nudity (Full Frontal)',
 'small town',
 'wintry',
 'aging',
 'based on a play',
 'Drama',
 'friendship',
 'Morgan Freeman',
 'no action',
 'old age',
 'racism',
 'Southern theme',
 'USA',
 'emotional',
 'heartwarming',
 'Holocaust',
 'Italy',
 'love',
 'Oscar (Best Foreign Language Film)',
 'Oscar Winner',
 'sentimental',
 'survival',
 'Natalie Portman',
 'robots',
 'Star Wars',
 'abortion',
 'charlize theron',
 'medicine',
 'orphans',
 'Tobey Maguire',
 'break-up',
 'Catherine Zeta-Jones',
 'funny',
 'relationships',
 'island',
 'SURVIVAL',
 'dogs',
 'multiple storylines',
 'action',
 'George Lucas',
 'romance',
 'family',
 'mystery',
 'powerful ending',
 'twist ending',
 'adapted from:book',
 'assassin',
 'assassination',
 'History',
 'interesting',
 'Southern Europe',
 'thriller',
 'dialogue',
 'Paris',
 'adultery',
 'biographical',
 'Biography',
 'blindness',
 'disability',
 'drug addiction',
 'drugs',
 'genius',
 'great acting',
 'history',
 'music business',
 'rhythm & blues',
 'Catholicism',
 'child abuse',
 'enigmatic',
 'Gay sex',
 'mistaken identity',
 'queer',
 'soccer',
 'spanish',
 'alcoholism',
 'complex characters',
 'confusing',
 'Germany',
 'biomedical ethics',
 'euthanasia',
 'FIGHTING THE SYSTEM',
 'SUICIDE',
 'suicide attempt',
 'terminal illness',
 'touching',
 'true story',
 'deliberate',
 'nonsense',
 'philosophycal',
 'quiet',
 'silent',
 'very little dialogue',
 'biopic',
 'character study',
 'death penalty',
 'gay',
 'journalism',
 'prison',
 'thought provoking',
 'writers',
 'based on a true story',
 'biography',
 'Joaquin Phoenix',
 'Disturbing',
 'murder mystery',
 'non-hollywood ending',
 'twist',
 'simple',
 'Straight forward',
 'strong woman',
 'WOMEN DURING WARTIME',
 'World War II',
 'cynical',
 'disturbing',
 'Nudity (Topless - Notable)',
 'Nudity (Topless)',
 'psychology',
 'epidemic',
 'husband-wife relationship',
 'science',
 'scientific research',
 'George Clooney',
 'lawyers',
 'depressing',
 'hospital',
 'marriage',
 'Jude Law',
 'road movie',
 'soundtrack',
 'alternate endings',
 'beautiful',
 'humanity',
 'quirky style',
 'solitude',
 'awkward',
 'Barcelona',
 'threesome',
 'congressman',
 'corruption',
 'mistress',
 'murder',
 'newspaper',
 'political corruption',
 'politics',
 'secrets',
 'Funny',
 'humorous',
 'nonlinear',
 'excellent script',
 'nostalgic',
 'revenge',
 'effects',
 'environmental',
 'alternate reality',
 'dystopia',
 'Oscar (Best Picture)',
 'mindfuck',
 "Alzheimer's disease",
 'Animals',
 'genetics',
 'virus',
 'children',
 'cinematography',
 'campaign manager',
 'real life',
 'Fish',
 'food',
 'Ginza',
 'Japan',
 'Michelin',
 'sushi',
 'Tokyo',
 'Tsukiji',
 'humor',
 'nudity (full frontal)',
 'sexuality',
 'static',
 'strange',
 'uncomfortable',
 'oscar (best directing)',
 'US President',
 'president; butler',
 'Ferrari',
 'Formula 1',
 'great skill',
 'interesting characters',
 'racing',
 'sports',
 'happy ending',
 'middle-aged protagonist',
 'warm',
 'captain',
 'ocean',
 'suspense',
 'disease',
 'Matthew McConaughey',
 'medical',
 'dramatic comedy',
 'sad',
 'story',
 'narration',
 'cats',
 'folk music',
 'New York City',
 'repetitive',
 'Wall Street',
 'Human Computer Interaction',
 'landscape',
 'letters',
 'meaning of life',
 'original plot',
 'repeating',
 'Afghanistan',
 'seals',
 'naration',
 'Nudity (Full Frontal - Notable)',
 'german sync',
 'matt damon',
 'Lars von Trier',
 'pornography',
 'Unexpected Ending',
 'interesting ideea',
 'original',
 'spectacle',
 'wormhole',
 'espionage',
 'Jean Dujardin',
 'bitterswee',
 'new york',
 'future',
 'time loop',
 'Tom Cruise',
 'plot holes',
 'ridiculous dialogue',
 'transformers',
 'weak story',
 'education',
 'good acting',
 'jazz',
 'motivation',
 'perfectionism',
 'psychological',
 'Ben Affleck',
 'false accusation',
 'good adaptation',
 'Infidelity',
 'meticulous',
 'Psychopathy',
 'Matt Reeves',
 'Action',
 'comic',
 'superheroes',
 'talking animals',
 'Vin Diesel',
 'counterespionage',
 'slow',
 'Law',
 'acting',
 'Brad Pitt',
 'David Ayer',
 'to much war',
 'war hero',
 'Manipulations',
 'technology',
 'mental illness',
 'surprising',
 'twisted end',
 'code breaking',
 'Computers',
 'cryptography',
 'informatics',
 'mathematics',
 'physics',
 'Stephen Hawking',
 'True story',
 'image',
 'Olga Kurylenko',
 'Improvisation',
 'mars',
 'NASA',
 'Near Future',
 'predictible',
 'scientific',
 'Space',
 'Survival Instinct',
 'adoption',
 'Oscar Nominee: Best Picture',
 'dreamlike',
 'Fantasy',
 'imagination',
 'surreal',
 'surrealism',
 'truth vs. fantasy',
 'gay romance',
 'space adventure',
 'overcoming obstacles',
 'teamwork',
 'Coen Brothers',
 'witty',
 'smart',
 'Tom Hanks',
 '4th wall',
 'crude language',
 'parody',
 'soulless',
 'cult film',
 'unintentional comedy',
 'dark',
 'missing children',
 'torture',
 'Ewan McGregor',
 'Jar Jar Binks',
 'AI',
 'karate',
 'inspiring',
 'purpose in life',
 'summer',
 'ambush',
 'England',
 'Romans',
 'violent',
 'television',
 'Michael Moore',
 'propaganda',
 'metafiction',
 'Christopher Nolan',
 'turing test',
 'impressive visuals',
 'magic',
 'tang dynasty',
 'Nicolas Cage',
 'manipulation',
 'free running',
 'no story',
 'parkour',
 'running',
 'abduction',
 'bound',
 'canada',
 'dark humor',
 'gagged',
 'kidnapping',
 'montreal',
 'nightmares',
 'small cast',
 'twisted',
 'bad ending',
 'Nudity (Topless - Brief)',
 'Oscar (Best Actor)',
 'Oscar (Best Actress)',
 'want to see again',
 'Sick',
 'animation',
 'big budget',
 'Christian',
 'Christmas',
 'starts well but fails you in the middle till the end',
 'film noir',
 'low budget',
 'decline of civilization',
 'prophetic',
 'sex with the enemy',
 'brutal violence',
 'gun fu',
 'plot twist',
 'stylized violence',
 'TOO much violence',
 'Amazing!',
 'anti-hero',
 'better than expected',
 'Charlize Theron',
 'innovative',
 'movie to see',
 'superhero',
 'Will Smith',
 'enjoyable',
 'good laughs',
 'chick flick',
 'space program',
 'stephan king',
 'Special effects',
 'off-beat comedy',
 'Disney',
 'netflixq',
 'cult classic',
 'homoerotic subtext',
 'anti-romantic ending',
 'racist',
 'great soundtrack',
 'stylized',
 'weird',
 'Studio Ghibli',
 'black comedy',
 'comedy',
 'awesome',
 'colorful',
 'Jeff Goldblum',
 'Taika Waititi',
 'unconventional',
 'Heartbreaking',
 'Sad',
 'classic sci-fi',
 'good vs evil',
 'brilliant',
 'scary',
 'ghosts',
 'Bisexual',
 'Canadian',
 'Distopian',
 'Indy',
 'Lgbt',
 'Mystery',
 'Thomas Gibson',
 'oldie but goodie',
 'scifi cult',
 'Black comedy',
 'Quentin Tarantino',
 'violence',
 'courtroom',
 'courtroom drama',
 'group psychology',
 'Old',
 'social commentary',
 'college',
 'Geeks',
 'nerds',
 'smart comedy',
 'teen comedy',
 'dystopic future',
 'futuristic',
 'genetic selection',
 'intelligent',
 'Uma Thurman',
 'underdog',
 'Jim Carrey',
 'poignant',
 'reality TV',
 'Bisexuality',
 'Great soundtrack',
 'Historic',
 'Sexy',
 'conspiracy',
 'cover up',
 'political',
 'satire',
 'unique',
 'crude humor',
 'sexual',
 'stupid',
 'coming of age',
 'coming-of-age',
 'great music',
 'John Hughes',
 'overdramatic',
 'school drama',
 'teen',
 'teen movie',
 'Bromance',
 'Comedy',
 'high school',
 'Reese Witherspoon',
 'stereotypes',
 'Teen movie',
 'menage a trois',
 'polygamy',
 'guilty pleasure',
 '1980s',
 'breaking the fourth wall',
 'charming',
 'High School',
 'rebellion',
 'complicated',
 'funny moments',
 'mean spirited',
 'tolkien',
 'cloning',
 'immortality',
 'geeks',
 'hilarious',
 'sex',
 'sex comedy',
 'steve carell',
 'Jonah Hill',
 'marijuana',
 'Quotable',
 'stoner',
 'Stoner Movie',
 'video game testers',
 'video games',
 'Underrated',
 'Coming of age',
 'Coming-Of-Age',
 'Emma Stone',
 'HIGH SCHOOL LIFE',
 'amy poehler',
 'teacher',
 'Hawaii',
 'Jason Segel',
 'Kristen Bell',
 'Mila Kunis',
 'Paul Rudd',
 'CIA',
 'father daughter relationship',
 'gritty',
 'human trafficking',
 'buddy movie',
 'silly',
 'spoof',
 'subtle humor',
 'Will Ferrell',
 'awesome soundtrack',
 'cultural references',
 'geek',
 'geeky',
 'protagonist is a teacher',
 'jason bateman',
 'Jennifer Aniston',
 'weak ending',
 'bromance',
 'Channing Tatum',
 'self-aware',
 'undercover cops',
 'election',
 'brother sister incest',
 'teacher student sex',
 'Amy Poehler',
 'Cobie Smulders',
 'Rom Com',
 'Self deprecating',
 'absurd',
 'Propaganda',
 'Absurd',
 'Cross generational',
 'Travel',
 'Workplace humor',
 'kevin hart',
 'Reverse racism',
 'will ferrel',
 'feminism',
 'Romantic comedy',
 'overcomplicated',
 'Woody Harrelson',
 'uplifting',
 'Coming of Age',
 'Friendship',
 'Outsider',
 'sibling relationship',
 'teen angst',
 'Bad Writing',
 'dinosaurs',
 'disaster',
 'predictable',
 'unrealistic',
 'annoying kid',
 'slasher',
 'detective',
 '1930s',
 '1935',
 'church',
 'cotton',
 'cotton farm',
 'debt',
 'extramarital affair',
 'farm',
 'female protagonist',
 'ku klux klan',
 'loss of husband',
 'period piece',
 'poverty',
 'rural setting',
 'nudity',
 'dance',
 'feel-good',
 'motivational',
 'terrible-acting',
 'ghost story',
 'haunted house',
 'legal thriller',
 'conspiracy theory',
 'UFO',
 'female bonding',
 'exorcism',
 'bad acting',
 'haunted-house',
 'jumpscares',
 'siblings',
 'artist',
 'con man',
 'Doppelgänger',
 'Evil Doppelgänger',
 'Loss of child',
 'Stephen King',
 'zombies',
 'breakup',
 'feminist',
 'friends',
 'girlfriends',
 'heartbreak',
 'lesbian',
 'film industry',
 'Hollywood',
 'movie industry',
 'Visual effect',
 'computers',
 'cyber-intimidation',
 'hackers',
 'hacking',
 'internet',
 'domestic violence',
 'fun',
 'kids',
 'schizophrenia',
 'sleep walking',
 'lucid dreaming',
 'Bad acting',
 'Banksy',
 'hand-held camera',
 'philosophy of art',
 'street art',
 'made me laugh',
 'parody: horror film episodes',
 'satire: plastic surgery',
 'word play',
 'Love story',
 'sport business',
 'childish',
 'sexist',
 'imprisonment',
 'multi-dimensional characters',
 'taking justice into own hands',
 'Loneliness',
 'illogical',
 'nature',
 'strong female character',
 'Comics',
 'Horror',
 'Jack the Ripper',
 'Johnny Depp',
 'serial killer',
 'Thriller',
 'Classic',
 'Kyra Sedgwick',
 'Original',
 'French music',
 'implausible',
 'Rachel McAdams',
 'Not spotting the obvious',
 'realistic action',
 'Wonderful director',
 'Bing Crosby',
 'Frank Sinatra',
 'louis armstrong',
 'remake',
 'evil-mastermind',
 'fourth-wall',
 'light',
 'spy',
 'clash of cultures',
 'film within a film',
 'life & death',
 'little dialogue',
 'Mona Achache',
 'rebirth',
 'deception',
 'illusions',
 'Harrison Ford',
 'True to the book',
 'Great Visuals',
 'Marvel Cinematic Universe',
 'boy becomes a man',
 'redemption',
 'china',
 'life philosophy',
 'mozi philosophy',
 'personal growth',
 'strong romantic subplot',
 'war strategy',
 'Adult',
 'antihero',
 'strong language',
 'punk',
 'art film',
 'Entertainment Industry',
 'K-Pop',
 'ending kinda ruined it',
 'great performances',
 'sucks',
 'Nice',
 'jason lee',
 'Kevin Smith',
 'view askew',
 'Gene Wilder',
 'Nick Frost',
 'Simon Pegg',
 'games',
 'BD-R',
 'space action',
 'hallucinatory',
 'middle school',
 'Pixar',
 'lady gaga',
 'intense',
 'courage',
 'inspirational',
 'Motivation',
 'reality',
 'willpower',
 'different',
 'persistence',
 'Post apocalyptic',
 'Bradley Cooper',
 'concept',
 'entertaining',
 'human potential',
 'screenplay',
 'smart drugs',
 'talent',
 'trying hard',
 'mathematicians',
 'Eddie Redmayne',
 'excellent acting',
 'excellent screenplay',
 'true love',
 'Intense',
 'revenge as motive',
 'hilarious comedy',
 'investigation',
 'True Story',
 'Central Intelligence Agency',
 'dvd',
 'art house',
 'love this movie',
 'scaring greatSoundtrack davidLynch angeloBadalamenti thriller',
 'Acting',
 'Dialogs',
 'Nothing',
 'Short Stories',
 'mother-son relationship',
 'cheesy',
 'cheesiness',
 'ridiculous',
 'surprise ending',
 'insanity',
 'Martin Scorsese',
 'Psychological Thriller',
 'mind bending',
 'spirit',
 'freedom',
 'hope',
 'Freedom',
 'Hope',
 'Aardman',
 'Star wars',
 'tear jerker',
 'strong female lead',
 'anime. miyazaki',
 'Tim Burton',
 'Anime',
 'Jack Black',
 'star wars',
 'Comic Book adaption',
 'Marvel',
 'masterpiece',
 'stand up',
 'VistaVision',
 'bruce willis',
 'the twists in the plot',
 'great ending',
 'supernatural',
 'morality',
 'epic',
 'historical',
 'Medieval',
 'space opera',
 'crime',
 'american history',
 'vietnam war',
 'Dance',
 'Heartwarming',
 'Biblical',
 'British',
 'british comedy',
 'controversial',
 'Monty Python',
 'Akira Kurosawa',
 'French',
 'stylish',
 'farce',
 'mockumentary',
 'no dialogue',
 'no narrative',
 'Edward D. Wood Jr.',
 "so bad it's funny",
 'long',
 'samurai',
 'toshiro mifune',
 'existentialism',
 'scifi',
 'survival horror',
 'free speech',
 'memory',
 'anti-war',
 'wilderness',
 'Toshiro Mifune',
 'deadpan',
 'hip hop',
 'lone hero',
 'buddhism',
 'clever',
 'penn jilette',
 'sad ending',
 'teller',
 'comic book',
 'author:Jane Austen',
 'comedy of manners',
 'Steve Carell',
 'norwegian',
 'saami',
 'skiing',
 'brutal',
 'incest',
 'vengeance',
 'Excellent use of dialogue',
 'intellectual',
 'ambiguous ending',
 'depression',
 'suicide',
 'Sci-fi',
 'Finnish',
 'mythology',
 'anti-authoritarian',
 'edward snowden',
 'informative',
 'nonfiction',
 'cute boys',
 'cyborgs',
 'nuclear war',
 'Suspense',
 'Adventure',
 'high fantasy',
 'wizards',
 'Scarlett Johansson',
 'fast paced action',
 '007',
 'Bond',
 'james bond',
 'Sean Connery',
 'Spy Thriller',
 'business',
 'corporate America',
 'Michael Douglas',
 'stock market',
 'US history',
 'Daniel Craig',
 'James Bond',
 'poker',
 'spies',
 '1920s',
 'F. Scott Fitzgerald',
 'Leonardo DiCaprio',
 'prostitution',
 'Stock Market',
 'fairy tale',
 'bureaucracy',
 'cerebral',
 'satirical',
 'neo-noir',
 'astronomy',
 'catastrophe',
 'natural disaster',
 'detention',
 'cyberpunk',
 'virtual reality',
 'Amazing Cinematography',
 'fascism',
 'totalitarianism',
 'H.P. Lovecraft',
 'Lovecraftian mythology',
 'Philip K. Dick',
 'teleportation',
 'alternate history',
 'author:Alan Moore',
 'Danny McBride',
 'James Franco',
 'Robert Downey Jr.',
 'satire:Hollywood insiders',
 'atmosphere',
 'steampunk',
 'stylistic',
 'good concept',
 'Saramago',
 'artistic',
 'escapism',
 'hanging',
 'Victorian era',
 'puzzle',
 'sci fi',
 'Surreal',
 'twists & turns',
 'ending twist',
 'Mental Institution',
 'reality or imagination?',
 'twisted ending',
 'Cinematography',
 'great humor',
 'great screenplay',
 'joss whedon',
 'airships',
 'Anne Hathaway',
 'Christian Bale',
 'atheism',
 'David Fincher',
 'chaotic',
 'meta',
 'awkward situations',
 'Suicide',
 ...]

analyzing data

In [20]:
from collections import Counter

def count_genres(movies_df):
    genre_counts = Counter()
    movies_df['genres'].str.split('|').apply(genre_counts.update)
    return genre_counts.most_common()

In [21]:
genre_counts = count_genres(movies)
genre_counts

[('Drama', 25606),
 ('Comedy', 16870),
 ('Thriller', 8654),
 ('Romance', 7719),
 ('Action', 7348),
 ('Horror', 5989),
 ('Documentary', 5605),
 ('Crime', 5319),
 ('(no genres listed)', 5062),
 ('Adventure', 4145),
 ('Sci-Fi', 3595),
 ('Children', 2935),
 ('Animation', 2929),
 ('Mystery', 2925),
 ('Fantasy', 2731),
 ('War', 1874),
 ('Western', 1399),
 ('Musical', 1054),
 ('Film-Noir', 353),
 ('IMAX', 195)]

In [22]:
comedy_movies = movies['genres'].str.contains('Comedy')
comedy_movies.shape

(62423,)

In [23]:
movies[comedy_movies]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
6,7,Sabrina (1995),Comedy|Romance
...,...,...,...
62402,209119,Up to the World (2014),Comedy|Drama
62411,209141,And They Lived Happily Ever After (1976),Comedy
62416,209153,Happy Flight (2008),Comedy|Drama
62417,209155,Santosh Subramaniam (2008),Action|Comedy|Romance
62420,209163,Bad Poems (2018),Comedy|Drama

In [24]:
nonlisted_movies = movies['genres'].str.contains('(no genres listed)')
nonlisted_movies.shape

C:\Users\Admin\AppData\Local\Temp\ipykernel_21404\372989128.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  nonlisted_movies = movies['genres'].str.contains('(no genres listed)')

(62423,)

In [25]:
movies[nonlisted_movies]

,movieId,title,genres
15881,83773,Away with Words (San tiao ren) (1999),(no genres listed)
16060,84768,Glitterbug (1994),(no genres listed)
16351,86493,"Age of the Earth, The (A Idade da Terra) (1980)",(no genres listed)
16491,87061,Trails (Veredas) (1978),(no genres listed)
17404,91246,Milky Way (Tejút) (2007),(no genres listed)
...,...,...,...
62400,209101,Hua yang de nian hua (2001),(no genres listed)
62401,209103,Tsar Ivan the Terrible (1991),(no genres listed)
62407,209133,The Riot and the Dance (2018),(no genres listed)
62415,209151,Mao Zedong 1949 (2019),(no genres listed)
62421,209169,A Girl Thing (2001),(no genres listed)

rating

In [26]:
del ratings['timestamp']

In [27]:
ratings.head()

   userId  movieId  rating
0       1      296     5.0
1       1      306     3.5
2       1      307     5.0
3       1      665     5.0
4       1      899     3.5

In [28]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [29]:
movies_ratings = pd.merge(movies, ratings, on='movieId', how='inner')

In [30]:
movies_ratings

,movieId,title,genres,userId,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,3.5
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4,3.0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0
...,...,...,...,...,...
25000090,209157,We (2018),Drama,119571,1.5
25000091,209159,Window of the Soul (2001),Documentary,115835,3.0
25000092,209163,Bad Poems (2018),Comedy|Drama,6964,4.5
25000093,209169,A Girl Thing (2001),(no genres listed),119571,3.0
25000094,209171,Women of Devil's Island (1962),Action|Adventure|Drama,119571,3.0

In [31]:
rated_movies_rank = movies_ratings.groupby('title')['rating'].mean().sort_values(ascending=False)
rated_movies_rank

title
Full of Grace (2015)            5.0
Geordie (1955)                  5.0
Garfield In Paradise (1986)     5.0
Lost Woods (2012)               5.0
Garfield in the Rough (1984)    5.0
                               ...
Caro Gorbaciov (1988)           0.5
Don't Let Go (2019)             0.5
Ice Queen (2005)                0.5
The Lodge (2019)                0.5
Robot Wars (1993)               0.5
Name: rating, Length: 58958, dtype: float64

In [32]:
most_rated_rank = movies_ratings.groupby('title').size().sort_values(ascending=False)
most_rated_rank

title
Forrest Gump (1994)                                        81491
Shawshank Redemption, The (1994)                           81482
Pulp Fiction (1994)                                        79672
Silence of the Lambs, The (1991)                           74127
Matrix, The (1999)                                         72674
                                                           ...
Kojot (2017)                                                   1
Kochavva Paulo Ayyappa Coelho (2016)                           1
Knuckleface Jones (1999)                                       1
The Lodge (2019)                                               1
"BLOW THE NIGHT!" Let's Spend the Night Together (1983)        1
Length: 58958, dtype: int64

In [33]:
most_rated_rank.shape

(58958,)

In [34]:
most_rated_rank.describe()

count    58958.000000
mean       424.032277
std       2479.744597
min          1.000000
25%          2.000000
50%          6.000000
75%         36.750000
max      81491.000000
dtype: float64

In [35]:
accepted_movies = most_rated_rank[most_rated_rank > 10].index.tolist()

In [36]:
accepted_movies

['Forrest Gump (1994)',
 'Shawshank Redemption, The (1994)',
 'Pulp Fiction (1994)',
 'Silence of the Lambs, The (1991)',
 'Matrix, The (1999)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Jurassic Park (1993)',
 "Schindler's List (1993)",
 'Braveheart (1995)',
 'Fight Club (1999)',
 'Terminator 2: Judgment Day (1991)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Toy Story (1995)',
 'Lord of the Rings: The Fellowship of the Ring, The (2001)',
 'Usual Suspects, The (1995)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
 'American Beauty (1999)',
 'Godfather, The (1972)',
 'Lord of the Rings: The Two Towers, The (2002)',
 'Lord of the Rings: The Return of the King, The (2003)',
 'Seven (a.k.a. Se7en) (1995)',
 'Fugitive, The (1993)',
 'Back to the Future (1985)',
 'Independence Day (a.k.a. ID4) (1996)',
 'Apollo 13 (1995)',
 'Fargo (1996)',
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
 'Saving Private Ryan (1998)',
 'Sixth Sense, The (1999)',
 'Gladiator (2000)',
 'Batman (1989)',
 'Aladdin (1992)',
 'Lion King, The (1994)',
 'Shrek (2001)',
 'True Lies (1994)',
 'Dances with Wolves (1990)',
 'Dark Knight, The (2008)',
 'Speed (1994)',
 'Memento (2000)',
 'Men in Black (a.k.a. MIB) (1997)',
 'Good Will Hunting (1997)',
 'Inception (2010)',
 'Terminator, The (1984)',
 'Indiana Jones and the Last Crusade (1989)',
 'Princess Bride, The (1987)',
 'Monty Python and the Holy Grail (1975)',
 'Titanic (1997)',
 'Groundhog Day (1993)',
 'Ace Ventura: Pet Detective (1994)',
 'Pirates of the Caribbean: The Curse of the Black Pearl (2003)',
 'Mission: Impossible (1996)',
 'Die Hard (1988)',
 'Blade Runner (1982)',
 'Alien (1979)',
 "One Flew Over the Cuckoo's Nest (1975)",
 'Beauty and the Beast (1991)',
 'Finding Nemo (2003)',
 'Reservoir Dogs (1992)',
 'Mask, The (1994)',
 'E.T. the Extra-Terrestrial (1982)',
 'Monsters, Inc. (2001)',
 "Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",
 'Pretty Woman (1990)',
 'Mrs. Doubtfire (1993)',
 'Godfather: Part II, The (1974)',
 'Kill Bill: Vol. 1 (2003)',
 'Truman Show, The (1998)',
 'Die Hard: With a Vengeance (1995)',
 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)',
 'Eternal Sunshine of the Spotless Mind (2004)',
 'Fifth Element, The (1997)',
 'Goodfellas (1990)',
 'X-Men (2000)',
 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
 'Rock, The (1996)',
 'Dumb & Dumber (Dumb and Dumber) (1994)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 "Ocean's Eleven (2001)",
 'Beautiful Mind, A (2001)',
 'Aliens (1986)',
 'Babe (1995)',
 'American History X (1998)',
 'Batman Forever (1995)',
 'Twister (1996)',
 'Stargate (1994)',
 'Batman Begins (2005)',
 'Incredibles, The (2004)',
 'Green Mile, The (1999)',
 'Minority Report (2002)',
 'Spider-Man (2002)',
 'Being John Malkovich (1999)',
 'Shining, The (1980)',
 'Clockwork Orange, A (1971)',
 'Home Alone (1990)',
 'Taxi Driver (1976)',
 'Bourne Identity, The (2002)',
 '2001: A Space Odyssey (1968)',
 'Trainspotting (1996)',
 'Ghost (1990)',
 'Kill Bill: Vol. 2 (2004)',
 'GoldenEye (1995)',
 'Sleepless in Seattle (1993)',
 'Willy Wonka & the Chocolate Factory (1971)',
 'Catch Me If You Can (2002)',
 'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)',
 'Big Lebowski, The (1998)',
 'Rain Man (1988)',
 'Clear and Present Danger (1994)',
 'L.A. Confidential (1997)',
 'Interview with the Vampire: The Vampire Chronicles (1994)',
 'Waterworld (1995)',
 'WALL·E (2008)',
 'Donnie Darko (2001)',
 "Ferris Bueller's Day Off (1986)",
 'Casablanca (1942)',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)',
 'Four Weddings and a Funeral (1994)',
 'Toy Story 2 (1999)',
 'Apocalypse Now (1979)',
 'Clueless (1995)',
 "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)",
 'V for Vendetta (2006)',
 'Full Metal Jacket (1987)',
 'Iron Man (2008)',
 'Departed, The (2006)',
 "There's Something About Mary (1998)",
 'Up (2009)',
 'Snatch (2000)',
 'Cast Away (2000)',
 'Dead Poets Society (1989)',
 'Austin Powers: The Spy Who Shagged Me (1999)',
 'American Pie (1999)',
 'Outbreak (1995)',
 'Wizard of Oz, The (1939)',
 'Star Trek: Generations (1994)',
 'Heat (1995)',
 'Avatar (2009)',
 'Indiana Jones and the Temple of Doom (1984)',
 'Jumanji (1995)',
 'Jaws (1975)',
 'Firm, The (1993)',
 'Breakfast Club, The (1985)',
 'Shakespeare in Love (1998)',
 'Clerks (1994)',
 'Life Is Beautiful (La Vita è bella) (1997)',
 'Edward Scissorhands (1990)',
 'O Brother, Where Art Thou? (2000)',
 'Natural Born Killers (1994)',
 'Austin Powers: International Man of Mystery (1997)',
 'As Good as It Gets (1997)',
 'Cliffhanger (1993)',
 'Inglourious Basterds (2009)',
 'When Harry Met Sally... (1989)',
 'Matrix Reloaded, The (2003)',
 'Net, The (1995)',
 'Back to the Future Part II (1989)',
 'Jerry Maguire (1996)',
 'Office Space (1999)',
 'Prestige, The (2006)',
 'Spirited Away (Sen to Chihiro no kamikakushi) (2001)',
 'Stand by Me (1986)',
 'Armageddon (1998)',
 'Interstellar (2014)',
 'Harry Potter and the Prisoner of Azkaban (2004)',
 "Monty Python's Life of Brian (1979)",
 "Bug's Life, A (1998)",
 'Total Recall (1990)',
 'Crimson Tide (1995)',
 'Get Shorty (1995)',
 'Sin City (2005)',
 'Hunt for Red October, The (1990)',
 'Psycho (1960)',
 'While You Were Sleeping (1995)',
 'Requiem for a Dream (2000)',
 'Harry Potter and the Chamber of Secrets (2002)',
 'Nightmare Before Christmas, The (1993)',
 'Who Framed Roger Rabbit? (1988)',
 'Gattaca (1997)',
 'Back to the Future Part III (1990)',
 'Contact (1997)',
 'Ace Ventura: When Nature Calls (1995)',
 'Amadeus (1984)',
 'Star Wars: Episode II - Attack of the Clones (2002)',
 'Beetlejuice (1988)',
 'Birdcage, The (1996)',
 'Spider-Man 2 (2004)',
 'Django Unchained (2012)',
 'Broken Arrow (1996)',
 'Airplane! (1980)',
 'Bourne Ultimatum, The (2007)',
 'Blues Brothers, The (1980)',
 'Casino Royale (2006)',
 'Top Gun (1986)',
 'Big (1988)',
 'Lost in Translation (2003)',
 'Shrek 2 (2004)',
 'Rear Window (1954)',
 'Face/Off (1997)',
 'Bourne Supremacy, The (2004)',
 'Leaving Las Vegas (1995)',
 'Meet the Parents (2000)',
 'X2: X-Men United (2003)',
 'Dark Knight Rises, The (2012)',
 'Philadelphia (1993)',
 'City of God (Cidade de Deus) (2002)',
 'Almost Famous (2000)',
 "Pan's Labyrinth (Laberinto del fauno, El) (2006)",
 'Sense and Sensibility (1995)',
 'Fish Called Wanda, A (1988)',
 'Shaun of the Dead (2004)',
 'Blair Witch Project, The (1999)',
 'Dead Man Walking (1995)',
 'Lock, Stock & Two Smoking Barrels (1998)',
 'Star Trek: First Contact (1996)',
 'Happy Gilmore (1996)',
 'Ratatouille (2007)',
 'Nutty Professor, The (1996)',
 'Mummy, The (1999)',
 'Citizen Kane (1941)',
 'Slumdog Millionaire (2008)',
 'Little Miss Sunshine (2006)',
 'Quiz Show (1994)',
 'Lethal Weapon (1987)',
 'Run Lola Run (Lola rennt) (1998)',
 'Shutter Island (2010)',
 'Harry Potter and the Goblet of Fire (2005)',
 'Liar Liar (1997)',
 '300 (2007)',
 'Chicken Run (2000)',
 'Graduate, The (1967)',
 'Star Wars: Episode III - Revenge of the Sith (2005)',
 'Game, The (1997)',
 'No Country for Old Men (2007)',
 'Casino (1995)',
 'Mission: Impossible II (2000)',
 'Juno (2007)',
 "Mr. Holland's Opus (1995)",
 'Ice Age (2002)',
 'Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966)',
 'Erin Brockovich (2000)',
 'Demolition Man (1993)',
 'Matrix Revolutions, The (2003)',
 'In the Line of Fire (1993)',
 'District 9 (2009)',
 'Snow White and the Seven Dwarfs (1937)',
 "Charlie's Angels (2000)",
 'Dave (1993)',
 'Addams Family Values (1993)',
 'Mars Attacks! (1996)',
 'South Park: Bigger, Longer and Uncut (1999)',
 'Avengers, The (2012)',
 'Abyss, The (1989)',
 'Big Fish (2003)',
 'I, Robot (2004)',
 'Starship Troopers (1997)',
 "What's Eating Gilbert Grape (1993)",
 'Dogma (1999)',
 'Pianist, The (2002)',
 'American President, The (1995)',
 'Traffic (2000)',
 'High Fidelity (2000)',
 'Chinatown (1974)',
 'Rocky (1976)',
 'North by Northwest (1959)',
 'Platoon (1986)',
 'Predator (1987)',
 'Scream (1996)',
 '12 Angry Men (1957)',
 'This Is Spinal Tap (1984)',
 'Unbreakable (2000)',
 'Die Hard 2 (1990)',
 'The Martian (2015)',
 'Maverick (1994)',
 'Hangover, The (2009)',
 'Few Good Men, A (1992)',
 '28 Days Later (2002)',
 'Annie Hall (1977)',
 'Guardians of the Galaxy (2014)',
 'Crow, The (1994)',
 'Grease (1978)',
 'Eyes Wide Shut (1999)',
 'Honey, I Shrunk the Kids (1989)',
 'Star Trek (2009)',
 "Pirates of the Caribbean: Dead Man's Chest (2006)",
 'Piano, The (1993)',
 'To Kill a Mockingbird (1962)',
 'Untouchables, The (1987)',
 'Vertigo (1958)',
 'Lost World: Jurassic Park, The (1997)',
 'Royal Tenenbaums, The (2001)',
 'Star Trek II: The Wrath of Khan (1982)',
 'Legends of the Fall (1994)',
 'Last Samurai, The (2003)',
 'Santa Clause, The (1994)',
 'Wolf of Wall Street, The (2013)',
 'Sting, The (1973)',
 'The Butterfly Effect (2004)',
 'Young Frankenstein (1974)',
 'Ed Wood (1994)',
 'The Imitation Game (2014)',
 'Raising Arizona (1987)',
 'Brazil (1985)',
 'Enemy of the State (1998)',
 'Eraser (1996)',
 "It's a Wonderful Life (1946)",
 'RoboCop (1987)',
 'True Romance (1993)',
 'Wallace & Gromit: The Wrong Trousers (1993)',
 'Butch Cassidy and the Sundance Kid (1969)',
 'Sound of Music, The (1965)',
 'Patriot, The (2000)',
 'Bruce Almighty (2003)',
 'Little Mermaid, The (1989)',
 'Mary Poppins (1964)',
 'Con Air (1997)',
 "Bridget Jones's Diary (2001)",
 'Full Monty, The (1997)',
 'Children of Men (2006)',
 'Exorcist, The (1973)',
 'Close Encounters of the Third Kind (1977)',
 'Scarface (1983)',
 'Unforgiven (1992)',
 'Judge Dredd (1995)',
 'English Patient, The (1996)',
 'Superman (1978)',
 'Air Force One (1997)',
 '40-Year-Old Virgin, The (2005)',
 'Client, The (1994)',
 'Sleepy Hollow (1999)',
 'Gone with the Wind (1939)',
 'Rushmore (1998)',
 'Galaxy Quest (1999)',
 "King's Speech, The (2010)",
 'Sherlock Holmes (2009)',
 'Cable Guy, The (1996)',
 'Toy Story 3 (2010)',
 'Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)',
 'Hot Fuzz (2007)',
 'Harry Potter and the Order of the Phoenix (2007)',
 'Tombstone (1993)',
 'Notting Hill (1999)',
 'Million Dollar Baby (2004)',
 'Robin Hood: Men in Tights (1993)',
 'Moulin Rouge (2001)',
 'Desperado (1995)',
 'I Am Legend (2007)',
 'Harry Potter and the Half-Blood Prince (2009)',
 'School of Rock (2003)',
 'From Dusk Till Dawn (1996)',
 'Harry Potter and the Deathly Hallows: Part 1 (2010)',
 "Wayne's World (1992)",
 'Social Network, The (2010)',
 'Wedding Singer, The (1998)',
 'Naked Gun 33 1/3: The Final Insult (1994)',
 'Beverly Hills Cop III (1994)',
 'Truth About Cats & Dogs, The (1996)',
 'A.I. Artificial Intelligence (2001)',
 'Grosse Pointe Blank (1997)',
 'Deadpool (2016)',
 'Congo (1995)',
 'Mask of Zorro, The (1998)',
 'Ransom (1996)',
 'My Cousin Vinny (1992)',
 'How to Train Your Dragon (2010)',
 'Alien³ (a.k.a. Alien 3) (1992)',
 'Boogie Nights (1997)',
 'Signs (2002)',
 'Talented Mr. Ripley, The (1999)',
 'The Hunger Games (2012)',
 'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan (2006)',
 '10 Things I Hate About You (1999)',
 'Dragonheart (1996)',
 'Zombieland (2009)',
 'Bowling for Columbine (2002)',
 'Pleasantville (1998)',
 'Love Actually (2003)',
 'Inside Out (2015)',
 'Chasing Amy (1997)',
 'Boot, Das (Boat, The) (1981)',
 'Black Swan (2010)',
 "The Devil's Advocate (1997)",
 'Mad Max: Fury Road (2015)',
 'Pocahontas (1995)',
 'Harry Potter and the Deathly Hallows: Part 2 (2011)',
 'Black Hawk Down (2001)',
 'Gran Torino (2008)',
 'Italian Job, The (2003)',
 'Batman Returns (1992)',
 'Rocky Horror Picture Show, The (1975)',
 'Seven Samurai (Shichinin no samurai) (1954)',
 'Election (1999)',
 'Others, The (2001)',
 'Coneheads (1993)',
 'Lethal Weapon 2 (1989)',
 'Romancing the Stone (1984)',
 'Lawrence of Arabia (1962)',
 'Last Action Hero (1993)',
 'Princess Mononoke (Mononoke-hime) (1997)',
 'Planet of the Apes (1968)',
 'Much Ado About Nothing (1993)',
 'Grand Budapest Hotel, The (2014)',
 'Superbad (2007)',
 'Blade (1998)',
 'Species (1995)',
 'Christmas Story, A (1983)',
 'Hot Shots! Part Deux (1993)',
 'Mr. & Mrs. Smith (2005)',
 'Arachnophobia (1990)',
 'Gone Girl (2014)',
 'Bad Boys (1995)',
 'Magnolia (1999)',
 'My Big Fat Greek Wedding (2002)',
 'Intouchables (2011)',
 'Ring, The (2002)',
 'Pinocchio (1940)',
 'Chocolat (2000)',
 'Sling Blade (1996)',
 'Star Wars: Episode VII - The Force Awakens (2015)',
 "You've Got Mail (1998)",
 'Bridge on the River Kwai, The (1957)',
 'Casper (1995)',
 'Star Trek IV: The Voyage Home (1986)',
 'American Psycho (2000)',
 'Ex Machina (2015)',
 'Spaceballs (1987)',
 'Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005)',
 'Charlie and the Chocolate Factory (2005)',
 'Legally Blonde (2001)',
 'Army of Darkness (1993)',
 'Mulholland Drive (2001)',
 'Phenomenon (1996)',
 'Jackie Brown (1997)',
 'Edge of Tomorrow (2014)',
 'Miss Congeniality (2000)',
 'Field of Dreams (1989)',
 'Tomorrow Never Dies (1997)',
 'Fantasia (1940)',
 'Gravity (2013)',
 'Maltese Falcon, The (1941)',
 'Blood Diamond (2006)',
 'Wallace & Gromit: A Close Shave (1995)',
 'Dark City (1998)',
 'Good Morning, Vietnam (1987)',
 'Johnny Mnemonic (1995)',
 'Sabrina (1995)',
 'Goldfinger (1964)',
 'Three Musketeers, The (1993)',
 'Old Boy (2003)',
 'Watchmen (2009)',
 'Crocodile Dundee (1986)',
 'Last of the Mohicans, The (1992)',
 'Three Kings (1999)',
 'Dirty Dancing (1987)',
 'M*A*S*H (a.k.a. MASH) (1970)',
 'Serenity (2005)',
 'Thelma & Louise (1991)',
 'Goonies, The (1985)',
 'Grumpier Old Men (1995)',
 'Gremlins (1984)',
 'Illusionist, The (2006)',
 'Sneakers (1992)',
 'Iron Man 2 (2010)',
 "City Slickers II: The Legend of Curly's Gold (1994)",
 'Wild Wild West (1999)',
 'Rush Hour (1998)',
 'Father of the Bride Part II (1995)',
 'Birds, The (1963)',
 'Deep Impact (1998)',
 'Thomas Crown Affair, The (1999)',
 'Glory (1989)',
 'Rob Roy (1995)',
 'Disclosure (1994)',
 'What Women Want (2000)',
 'Mystic River (2003)',
 'Some Like It Hot (1959)',
 'Terminator 3: Rise of the Machines (2003)',
 'Cool Hand Luke (1967)',
 'Alien: Resurrection (1997)',
 'Animal House (1978)',
 'Beverly Hills Cop (1984)',
 '(500) Days of Summer (2009)',
 'Scary Movie (2000)',
 'Hotel Rwanda (2004)',
 'Gone in 60 Seconds (2000)',
 'X-Files: Fight the Future, The (1998)',
 'Garden State (2004)',
 'Highlander (1986)',
 'So I Married an Axe Murderer (1993)',
 'Crying Game, The (1992)',
 'Crash (2004)',
 'French Kiss (1995)',
 'Taken (2008)',
 'Deer Hunter, The (1978)',
 "Pirates of the Caribbean: At World's End (2007)",
 'Blazing Saddles (1974)',
 'First Knight (1995)',
 'Executive Decision (1996)',
 'Great Escape, The (1963)',
 'Kung Fu Panda (2008)',
 'Time to Kill, A (1996)',
 'Kick-Ass (2010)',
 'Whiplash (2014)',
 'Donnie Brasco (1997)',
 'Splash (1984)',
 'Basic Instinct (1992)',
 'Mulan (1998)',
 'Training Day (2001)',
 'Pearl Harbor (2001)',
 'Moon (2009)',
 'X-Men: First Class (2011)',
 'War of the Worlds (2005)',
 'Austin Powers in Goldmember (2002)',
 'Thing, The (1982)',
 'Rumble in the Bronx (Hont faan kui) (1995)',
 'Wedding Crashers (2005)',
 'Primal Fear (1996)',
 'Zoolander (2001)',
 'Adaptation (2002)',
 'Antz (1998)',
 'Vanilla Sky (2001)',
 'Heathers (1989)',
 'Super Size Me (2004)',
 'Hobbit: An Unexpected Journey, The (2012)',
 "Singin' in the Rain (1952)",
 'Tommy Boy (1995)',
 '50 First Dates (2004)',
 'About a Boy (2002)',
 'Like Water for Chocolate (Como agua para chocolate) (1992)',
 'Fly, The (1986)',
 'Witness (1985)',
 'Day After Tomorrow, The (2004)',
 'Mummy Returns, The (2001)',
 'Perfect Storm, The (2000)',
 "Muriel's Wedding (1994)",
 'Collateral (2004)',
 'In Bruges (2008)',
 'Raging Bull (1980)',
 'Space Jam (1996)',
 'X-Men: The Last Stand (2006)',
 'Best in Show (2000)',
 'Hunchback of Notre Dame, The (1996)',
 'Curious Case of Benjamin Button, The (2008)',
 'Hudsucker Proxy, The (1994)',
 'Mortal Kombat (1995)',
 'American Pie 2 (2001)',
 'Lady and the Tramp (1955)',
 'NeverEnding Story, The (1984)',
 'Gangs of New York (2002)',
 'Godfather: Part III, The (1990)',
 'Troy (2004)',
 "Howl's Moving Castle (Hauru no ugoku shiro) (2004)",
 'Equilibrium (2002)',
 'Fear and Loathing in Las Vegas (1998)',
 'Postman, The (Postino, Il) (1994)',
 "William Shakespeare's Romeo + Juliet (1996)",
 'Her (2013)',
 'Nine Months (1995)',
 'Boondock Saints, The (2000)',
 'Thank You for Smoking (2006)',
 'Nell (1994)',
 'Big Hero 6 (2014)',
 'River Wild, The (1994)',
 'Star Trek III: The Search for Spock (1984)',
 'Skyfall (2012)',
 'Into the Wild (2007)',
 'Limitless (2011)',
 'Napoleon Dynamite (2004)',
 'Star Trek VI: The Undiscovered Country (1991)',
 'Specialist, The (1994)',
 'African Queen, The (1951)',
 'Tron (1982)',
 'Kingpin (1996)',
 'Chicago (2002)',
 "My Best Friend's Wedding (1997)",
 'Cocoon (1985)',
 'Me, Myself & Irene (2000)',
 'Planet of the Apes (2001)',
 "Breakfast at Tiffany's (1961)",
 'Ronin (1998)',
 'Conspiracy Theory (1997)',
 'Arrival (2016)',
 'Wag the Dog (1997)',
 'Jungle Book, The (1967)',
 'There Will Be Blood (2007)',
 'Searching for Bobby Fischer (1993)',
 'Looper (2012)',
 "Ocean's Twelve (2004)",
 'Trading Places (1983)',
 'Transformers (2007)',
 'James and the Giant Peach (1996)',
 'Remains of the Day, The (1993)',
 'Big Daddy (1999)',
 'League of Their Own, A (1992)',
 'Terminal, The (2004)',
 'Pi (1998)',
 'Batman & Robin (1997)',
 'Blue Velvet (1986)',
 'Iron Giant, The (1999)',
 'Misery (1990)',
 'Tin Cup (1996)',
 'Mad Max (1979)',
 "Dracula (Bram Stoker's Dracula) (1992)",
 'Hoop Dreams (1994)',
 'Road Warrior, The (Mad Max 2) (1981)',
 'Gandhi (1982)',
 'My Fair Lady (1964)',
 'Despicable Me (2010)',
 'Little Women (1994)',
 'Fast and the Furious, The (2001)',
 'Kingsman: The Secret Service (2015)',
 "Hitchhiker's Guide to the Galaxy, The (2005)",
 "Monty Python's The Meaning of Life (1983)",
 'Cinderella (1950)',
 'Poltergeist (1982)',
 'Da Vinci Code, The (2006)',
 'Flintstones, The (1994)',
 'Lord of War (2005)',
 'Pursuit of Happyness, The (2006)',
 'Road to Perdition (2002)',
 'Thor (2011)',
 'Hook (1991)',
 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 'Source Code (2011)',
 'The Hunger Games: Catching Fire (2013)',
 'Karate Kid, The (1984)',
 'Cinema Paradiso (Nuovo cinema Paradiso) (1989)',
 'Junior (1994)',
 'Remember the Titans (2000)',
 'Analyze This (1999)',
 'Anchorman: The Legend of Ron Burgundy (2004)',
 'Star Trek: The Motion Picture (1979)',
 'Scott Pilgrim vs. the World (2010)',
 'Hellboy (2004)',
 'My Neighbor Totoro (Tonari no Totoro) (1988)',
 'Pitch Black (2000)',
 'Swingers (1996)',
 'Saw (2004)',
 'I.Q. (1994)',
 'Caddyshack (1980)',
 'Fahrenheit 9/11 (2004)',
 'Bonnie and Clyde (1967)',
 'Cruel Intentions (1999)',
 'Copycat (1995)',
 'Lara Croft: Tomb Raider (2001)',
 'Carrie (1976)',
 'Mean Girls (2004)',
 'Escape from New York (1981)',
 'Lives of Others, The (Das leben der Anderen) (2006)',
 'Stranger than Fiction (2006)',
 'Akira (1988)',
 'Simpsons Movie, The (2007)',
 'Willow (1988)',
 'Lethal Weapon 3 (1992)',
 'Jurassic Park III (2001)',
 'Fatal Attraction (1987)',
 'Cape Fear (1991)',
 'Silver Linings Playbook (2012)',
 'Aviator, The (2004)',
 'Dangerous Minds (1995)',
 'Shanghai Noon (2000)',
 'Dumbo (1941)',
 'Hannibal (2001)',
 'Scent of a Woman (1992)',
 'Patriot Games (1992)',
 'Bowfinger (1999)',
 'X-Men: Days of Future Past (2014)',
 'National Treasure (2004)',
 'Billy Madison (1995)',
 'Walk the Line (2005)',
 'Blow (2001)',
 'Bridges of Madison County, The (1995)',
 'Enemy at the Gates (2001)',
 'Drive (2011)',
 'Lucky Number Slevin (2006)',
 'Dune (1984)',
 "Bill & Ted's Excellent Adventure (1989)",
 'The Machinist (2004)',
 'Billy Elliot (2000)',
 'World Is Not Enough, The (1999)',
 'Negotiator, The (1998)',
 'Striptease (1996)',
 'Sixteen Candles (1984)',
 'Sideways (2004)',
 'Brady Bunch Movie, The (1995)',

In [37]:
accepted_movies_ratings = movies_ratings[movies_ratings['title'].isin(accepted_movies)]
accepted_movies_ratings

,movieId,title,genres,userId,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,3.5
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4,3.0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0
...,...,...,...,...,...
24999961,208737,Midway (2019),Action|Drama|War,132358,2.0
24999962,208737,Midway (2019),Action|Drama|War,141420,3.0
24999963,208737,Midway (2019),Action|Drama|War,143568,3.5
24999964,208737,Midway (2019),Action|Drama|War,154088,4.0
24999965,208737,Midway (2019),Action|Drama|War,156081,3.5

In [38]:
accepted_movies_ratings_rank = accepted_movies_ratings.groupby('title')['rating'].mean().sort_values(ascending=False)

In [39]:
accepted_movies_ratings_rank

title
Planet Earth II (2016)                 4.483096
Planet Earth (2006)                    4.464797
Shawshank Redemption, The (1994)       4.413576
Band of Brothers (2001)                4.398599
Pollyanna (2003)                       4.384615
                                         ...
Saving Christmas (2014)                0.921053
Justin Bieber's Believe (2013)         0.904762
SuperBabies: Baby Geniuses 2 (2004)    0.899038
Hip Hop Witch, Da (2000)               0.854839
Kidnapping, Caucasian Style (2014)     0.678571
Name: rating, Length: 23344, dtype: float64

In [40]:
tags.head()

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [41]:
del tags['timestamp']

In [42]:
tags

         userId  movieId                  tag
0             3      260              classic
1             3      260               sci-fi
2             4     1732          dark comedy
3             4     1732       great dialogue
4             4     7569     so bad it's good
...         ...      ...                  ...
1093355  162521    66934  Neil Patrick Harris
1093356  162521   103341     cornetto trilogy
1093357  162534   189169               comedy
1093358  162534   189169             disabled
1093359  162534   189169              robbery

[1093344 rows x 3 columns]

In [43]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [44]:
movies_non_genres = movies[['movieId','title']]

In [45]:
movies_non_genres

       movieId                               title
0            1                    Toy Story (1995)
1            2                      Jumanji (1995)
2            3             Grumpier Old Men (1995)
3            4            Waiting to Exhale (1995)
4            5  Father of the Bride Part II (1995)
...        ...                                 ...
62418   209157                           We (2018)
62419   209159           Window of the Soul (2001)
62420   209163                    Bad Poems (2018)
62421   209169                 A Girl Thing (2001)
62422   209171      Women of Devil's Island (1962)

[62423 rows x 2 columns]

In [46]:
movies_tags = pd.merge(movies_non_genres,tags, on='movieId', how='inner')
movies_tags

         movieId                         title  userId                tag
0              1              Toy Story (1995)     791              Owned
1              1              Toy Story (1995)    1048       imdb top 250
2              1              Toy Story (1995)    1361              Pixar
3              1              Toy Story (1995)    3164              Pixar
4              1              Toy Story (1995)    3164        time travel
...          ...                           ...     ...                ...
1093339   209063  The Prep School Negro (2012)   96399       Philadelphia
1093340   209063  The Prep School Negro (2012)   96399     private school
1093341   209063  The Prep School Negro (2012)   96399             quaker
1093342   209063  The Prep School Negro (2012)   96399             racism
1093343   209063  The Prep School Negro (2012)   96399  thought-provoking

[1093344 rows x 4 columns]

In [47]:
tagged = movies_tags.groupby('title').size().sort_values(ascending=False)
tagged

title
Star Wars: Episode IV - A New Hope (1977)    6180
Pulp Fiction (1994)                          4767
Inception (2010)                             4767
Interstellar (2014)                          3616
Fight Club (1999)                            3612
                                             ...
Catacombs (1964)                                1
Sergio (2009)                                   1
Cat's Play (1974)                               1
Serpent (2017)                                  1
줄탁동시 (2012)                                     1
Length: 45208, dtype: int64

In [48]:
fun_tags = movies_tags['tag'].str.contains('funny')
fun_movies = movies_tags[fun_tags]

In [49]:
fun_movies

         movieId                                   title  userId    tag
7              1                        Toy Story (1995)    3448  funny
52             1                        Toy Story (1995)    7570  funny
82             1                        Toy Story (1995)   17069  funny
87             1                        Toy Story (1995)   19663  funny
94             1                        Toy Story (1995)   20346  funny
...          ...                                     ...     ...    ...
1091841   204302  Ek Ladki Ko Dekha Toh Aisa Laga (2019)  118674  funny
1092379   204878              Dolemite Is My Name (2019)    3842  funny
1092440   205054                         Hustlers (2019)   94239  funny
1092533   205287                          Bacurau (2019)   45004  funny
1093062   207189                The Addams Family (2019)   94239  funny

[5996 rows x 4 columns]

In [50]:
most_fun_movies = fun_movies.groupby('title').size().sort_values(ascending=False)
most_fun_movies

title
Intouchables (2011)                       65
Grand Budapest Hotel, The (2014)          62
Scott Pilgrim vs. the World (2010)        51
Hangover, The (2009)                      50
Zombieland (2009)                         50
                                          ..
Party, The (1968)                          1
Ek Ladki Ko Dekha Toh Aisa Laga (2019)     1
Patchwork (2015)                           1
Eddie Murphy Raw (1987)                    1
(500) Days of Summer (2009)                1
Length: 1417, dtype: int64

In [51]:
terminatordf_tag = movies_tags['title'].str.contains('Terminator: Dark Fate')

In [52]:
movies_tags[terminatordf_tag]

,movieId,title,userId,tag
1093156,207830,Terminator: Dark Fate (2019),57837,action
1093157,207830,Terminator: Dark Fate (2019),57837,cyborg
1093158,207830,Terminator: Dark Fate (2019),57837,female protagonist
1093159,207830,Terminator: Dark Fate (2019),57837,mexico
1093160,207830,Terminator: Dark Fate (2019),57837,sci-fi
1093161,207830,Terminator: Dark Fate (2019),57837,terminator
1093162,207830,Terminator: Dark Fate (2019),72360,prospect preferred
1093163,207830,Terminator: Dark Fate (2019),94239,altenrate future
1093164,207830,Terminator: Dark Fate (2019),94239,Arnold Schwarzenegger
1093165,207830,Terminator: Dark Fate (2019),94239,commentary on US border control policy
1093166,207830,Terminator: Dark Fate (2019),94239,de-aging done well
1093167,207830,Terminator: Dark Fate (2019),94239,enhanced human
1093168,207830,Terminator: Dark Fate (2019),94239,female leads
1093169,207830,Terminator: Dark Fate (2019),94239,forgiveness
1093170,207830,Terminator: Dark Fate (2019),94239,future
1093171,207830,Terminator: Dark Fate (2019),94239,Linda Hamilton
1093172,207830,Terminator: Dark Fate (2019),94239,loss
1093173,207830,Terminator: Dark Fate (2019),94239,Mackenzie Davis
1093174,207830,Terminator: Dark Fate (2019),94239,Mexican characters
1093175,207830,Terminator: Dark Fate (2019),94239,Mexico
1093176,207830,Terminator: Dark Fate (2019),94239,new characters
1093177,207830,Terminator: Dark Fate (2019),94239,non-gratuitous female nudity
1093178,207830,Terminator: Dark Fate (2019),94239,redemption
1093179,207830,Terminator: Dark Fate (2019),94239,time travel
1093180,207830,Terminator: Dark Fate (2019),94239,well-told